/* -- style.css -- */


body {
    height: 100%;
    margin: 0;
    /* overflow: hidden; */
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background: #3882F6;
    border: 2px solid #F9FAF8;
    color: white;
    width: 150px;
    font-size: 18px;
}

.main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.info-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-left:  15%;
    padding-right: 15%;
}

.header-left {
    color: #F9FAF8;
    font-size: 24px;
}

.header-left, .header-right {
    display: flex;
    align-items: center;
}


.header, .title, .footer{
    background-color: #1F2937;
}

.title {
    display: flex;
    justify-content: space-evenly;
    padding-left:  15%;
    padding-right: 15%;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 20px;
    max-height: 400px;
}

.title-sub {
    margin-bottom: 16px;
}

.title-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.title-right {
    display: flex;
    width: 900px
}

.record {
    max-width: 100%;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}


a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container {
    display: flex;
    margin: 32px;
}

.pic {
    display: flex;
    align-items: center;
    padding: 16px;
    margin: 16px;
    height: 200px;
    width: 200px;
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 25px;
}

.quote-sec {
    padding-left:  15%;
    padding-right: 15%;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    color: #1F2937;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    display: flex;
    font-size: 36px;
    font-style: light italic;
}

.attr {
    font-size: 18px;
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
}

.cta-sec {
    padding-top:    80px;
    padding-bottom: 80px;
    padding-left:   10%;
    padding-right:  10%;
    /* background-color: #3882F6; */
    display: flex;
}

.cta-ctr {
    background-color: #3882F6;
    display: flex;
    flex: 1;
    border-radius: 10px;
    padding-top:    40px;
    padding-bottom: 40px;
    padding-left:   55px;
    padding-right:  55px;
}


.cta-L-cta {
    font-size: 24px;
    color:#F9FAF8;
}

.cta-L-sign {
    color: #e5e7eb;;
}

.cta-right {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.cta-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex: 2;
}

.cta-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: #F9FAF8;
    font-size: 18px;
}